<!-- post-container -->
            <div class="post-container">
              <h2 class="page-heading">Author : <%= authorName.fullname %></h2>
               
                <%- include('partials/loop') %>
                
            </div><!-- /post-container -->