 <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading"><%= category %> News</h2>
                    
                    <%- include('partials/loop') %>
                  
                </div><!-- /post-container -->