 <!-- post-container -->
          <div class="post-container">
              
             <!-- /post-content -->
              <%- include('partials/loop') %>
          </div>
          <!-- /post-container -->