 <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading">Search : <%= searchTerm %></h2>
                   <%- include('partials/loop') %>
                </div><!-- /post-container -->